@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$html-font-size: 16px;



// Colors
$color-black: #000;
$color-white: #fff;
$color-orange: #FD4D01;
$color-darkblue: #031930;


// Fonts
$font-family-title: "Poppins", sans-serif;
$font-family-default: "Poppins", sans-serif;
$font-family-button: "Montserrat", sans-serif;